<?xml version="1.0" ?>
<model>
    <name>Basic_Home</name>
    <version>1.0</version>
    <sdf version="1.7">model.sdf</sdf>
    <author>
        <name>Rushhaank Sahay</name>
        <email>rushhaank.sahay@gmail.com</email>
    </author>
    <description>Very basic world model</description>
</model>
